<div class="vw-74-cont">
  <app-flecha-regresar></app-flecha-regresar>
  <main>
    <div
      class="container-s pt-3 animate__animated animate__fadeIn"
      style="height: auto"
    >
      <div class="cont-titulo-solicitud-d">
        <h1 class="title-d ms-4 text-center">Medicamentos</h1>
      </div>
      <section class="all">
        <div class="options-container">
          <div class="barra-container">
            <input type="text" class="btn-buscar" (click)="buscarMedicamento();" />
            <input
              type="search"
              class="barra-buscar"
              placeholder="Buscar medicamento"
              [(ngModel)]="medicamentoABuscar"
              (keyup.enter)="buscarMedicamento()"
            />
          </div>
          <div class="cont-img-refresh">
            <img src="assets/img/botones/refresh.svg" alt="Refresh" (click)="llenarMedicamentoTodosLosPaises(); emitEventToChild();">
        </div>
          <select name="" id="" class="select-vale-dashboard" (change)="alCambiarOrden($event)">
            <option value="" selected>Ordenar por</option>
            <option value="1">Alfabéticamente</option>
          </select>
        </div>
        <app-loading *ngIf="cargandoDatos"></app-loading>
        <p *ngIf="!cargandoDatos && medicinesR.medicines.length === 0" class="m-5">No hay resultados.</p>
        <ng-container *ngIf="!cargandoDatos">
            <div class="chats-all-container">
                <div
                  class="chat-container"
                  *ngFor="let medicine of medicinesR.medicines"
                >
                  <div class="img-chat-cont">
                    <img
                      *ngIf="
                        !medicine.pictureM || medicine.pictureM.length === 0;
                        else imagenUsuario
                      "
                      src="assets/img/botones/user.svg"
                      alt="Medicine Default"
                    />
                    <ng-template #imagenUsuario>
                      <img
                        class="control-img"
                        [src]="
                          userService.url + '/upload/medicines/' + medicine.pictureM
                        "
                        alt="Person Vale Chat"
                      />
                    </ng-template>
                  </div>
                  <div class="cont-text-btn">
                    <div class="container-text">
                      <h4 class="title-vale1 negro">
                        {{ medicine.nameM }}
                        <span *ngIf="!medicine.isAvailable" class="badge bg-danger">No disponible.</span>
                        <span *ngIf="medicine.isAvailable" class="badge bg-primary">Disponible</span>
                      </h4>
                      <p>
                        {{ medicine.creador.ciudades.nameCiudad }},
                        {{ medicine.creador.ciudades.estado.nombreEstado }},
                        {{ medicine.creador.ciudades.estado.paises.nameP }}.
                      </p>
                      <p class="text-danger" *ngIf="medicine.inventaryM === 0">No quedan disponibles. </p>
                      <p class="text-danger" *ngIf="medicine.inventaryM === 1">Queda: {{ medicine.inventaryM }}. </p>
                      <p *ngIf="medicine.inventaryM > 1">Quedan: {{ medicine.inventaryM }}. </p>

                      <p>Creado por: {{ medicine.creador.namesU }} {{ medicine.creador.lastNamesU }}. </p>
                    </div>
                    <div class="container-btn">
                      <button
                        class="btn-vale-dashboard2"
                        *ngIf="medicine.isActive"
                        (click)="
                          habilitarODeshabilitarMedicamento(
                            medicine.idMedicine,
                            false
                          )
                        "
                      >
                        Deshabilitar
                      </button>
                      <button
                        class="btn-vale-dashboard1"
                        *ngIf="!medicine.isActive"
                        (click)="
                          habilitarODeshabilitarMedicamento(medicine.idMedicine, true)
                        "
                      >
                        Habilitar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
        </ng-container>
        <app-pagination [events]="eventOnPaginaReset.asObservable()" [page]="pagina" (changePage)="updatePage($event)"></app-pagination>
      </section>
    </div>
  </main>
</div>
