@import "../../../assets/scss/utilidades";

.cont-edit-usuario {
  border: 3px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 26px;
  margin: 25px auto 25px auto;
  padding: 25px;
  max-width: 70%;
  @media (max-width: 1090px) {
    max-width: 90%;
  }
}
.btn-crear {
  max-width: 20%;
  @media (max-width: 1090px) {
    max-width: 40%;
  }
}
.input-medi {
  background: #f6f6f6;
}

/* Pasar a utilidades */
.title-2 {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #333333;
  @media (max-width: 1090px) {
    font-size: 20px;
  }
}

.c-gray {
  color: #bdbdbd;
}
.select-personalizado {
  max-width: 61px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  appearance: none;
  background-image: none;
  width: 35px;
  padding-left: 16px;
  padding-right: 0;
}
.img-usuario {
  width: 220px;
  border-radius: 50%;
  padding: 10px;
}
.edit-button{
  border: 1px solid rgb(243, 242, 242);
  background-color: rgb(243, 242, 242);
  width: 30px;
  border-radius: 50%;
  padding: 4px;
  height: 35px;
  &:hover{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid black;
  }
  @media (max-width: 420px) {
    position: absolute;
  }
}
