<div class="vw-74-cont body">
  <app-flecha-regresar></app-flecha-regresar>
  <div class="container">
    <div class="cont-edit-usuario" ngNativeValidate [formGroup]="forma">
      <div class="d-flex align-middle justify-content-center" >
        <app-loading *ngIf="imageService.loadingImages"></app-loading>
        <img
          *ngIf="!imageService.loadingImages"
          [src]="previsualizarImg"
          alt="Prueba"
          class="img-usuario"
        />
        <input
          class="form-control d-none"
          type="file"
          id="formFile"
          accept="image/.jpg,.png,.jpeg,.JPG"
          #file
          (change)="onFileSelected($event)"
        />
        <button type="button" class="edit-button" (click)="file.click()" *ngIf="!imageService.loadingImages">
          <img src="assets/img/botones/editar.svg" alt="Editar img" />
        </button>
      </div>
      <div>
        <h3 class="title-2 text-center mt-2">Editar Usuario</h3>
        <div>
          <div class="row">
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="inputEmailUser" class="form-label">Nombres*</label>
              <input
                type="text"
                class="form-control"
                id="inputNombresUser"
                aria-describedby="textHelp1"
                placeholder="Nombre"
                [(ngModel)]="user.namesU"
                formControlName="namesU"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="nombreNoValido"
              >
                El Nombre es requerido.
              </p>
            </div>
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="inputApelllidosUser" class="form-label"
                >Apellidos*</label
              >
              <input
                type="text"
                class="form-control"
                id="inputApelllidosUser"
                aria-describedby="textHelp1"
                placeholder="Apelldos"
                [(ngModel)]="user.lastNamesU"
                formControlName="lastNamesU"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="apellidoNoValido"
              >
                El Apelldo es requerido.
              </p>
            </div>
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="inputFechaNUser" class="form-label"
                >Fecha de Nacimiento*</label
              >
              <input
                type="date"
                class="form-control"
                id="inputFechaNUser"
                aria-describedby="textHelp1"
                placeholder="Fecha de Nacimiento"
                [ngModel]="fechaFormateada"
                (ngModelChange)="user.dateOfBirth = $event"
                formControlName="dateOfBirth"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="fechaNoValido"
              >
                La fecha es requerida.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="inputEmailUser" class="form-label"
                >Correo electrónico*</label
              >
              <input
                type="email"
                class="form-control"
                id="inputEmailUser"
                aria-describedby="textHelp1"
                placeholder="Correo del Usuario"
                formControlName="emailU"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="correoNoValido"
              >
                El correo es requerido.
              </p>
            </div>
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="inputPassUserEdit" class="form-label"
                >Contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="inputPassUserEdit"
                name="inputPassUserEdit"
                aria-describedby="textHelp1"
                placeholder="Dejar vacio si no desea cambiarla"
                autocomplete="new-password"
                formControlName="password"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="pass1NoValido"
              >
                Las contraseñas no coinciden.
              </p>
            </div>
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="inputRepetirContrasena" class="form-label"
                >Repetir Contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="inputRepetirContrasena"
                aria-describedby="textHelp1"
                placeholder="Dejar vacio si no desea cambiarla"
                autocomplete="off"
                formControlName="password2"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="pass2NoValido"
              >
                Las contraseñas no coinciden.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="idPais" class="form-label">País*</label>
              <select
                (change)="onChangeCountry($event)"
                formControlName="idPais"
                class="form-select"
                aria-label="Default select example"
                id="idPais"
              >
                <!-- <option [disabled]="true">Ciudad</option> -->
                <option
                  *ngFor="let pais of paisesR.paises"
                  [value]="pais.idPais"
                >
                  {{ pais.nameP }}
                </option>
              </select>
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="campoNoEsValido('idPais')"
              >
                Campo requerido.
              </p>
            </div>
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="idEstado" class="form-label">Estado*</label>
              <select
                (change)="onChangeState($event)"
                formControlName="idEstado"
                class="form-select"
                aria-label="Default select example"
                id="idEstado"
              >
                <ng-container *ngFor="let estado of estadosR.estados">
                  <option
                    *ngIf="estado.idEstado === 0"
                    value=""
                    selected
                    disabled
                  >
                    Debe elegir un país 1ero.
                  </option>
                  <option *ngIf="estado.idEstado > 0" [value]="estado.idEstado">
                    {{ estado.nombreEstado }}
                  </option>
                </ng-container>
              </select>
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="campoNoEsValido('idEstado')"
              >
                Campo requerido.
              </p>
            </div>
            <div class="mb-3 col-lg-4 col-sm-12">
              <label for="selectCiudadUser" class="form-label">Ciudad*</label>
              <select
                (change)="changeCity($event)"
                formControlName="idCiudadF"
                class="form-select"
                aria-label="Default select example"
                id="selectCiudadUser"
              >
                <ng-container *ngFor="let ciudad of ciudadesR.ciudades">
                  <option
                    *ngIf="ciudad.idCiudad === 0"
                    value=""
                    selected
                    disabled
                  >
                    Debe elegir un Estado 1ero
                  </option>
                  <option *ngIf="ciudad.idCiudad > 0" [value]="ciudad.idCiudad">
                    {{ ciudad.nameCiudad }}
                  </option>
                </ng-container>
              </select>
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="ciudadNoValido"
              >
                La ciudad es requerida.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
              <label for="inputTlfUser" class="form-label">Télefono*</label>
              <input
                type="tel"
                class="form-control"
                id="inputTlfUser"
                aria-describedby="textHelp1"
                placeholder="Télefono del Usuario"
                formControlName="tlf1"
              />
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="tlf1NoValido"
              >
                No válido. Ejm: +5841412345
              </p>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
              <label for="inputAltTlfUser" class="form-label"
                >Teléfono Alternativo</label
              >
              <input
                type="tel"
                class="form-control"
                id="inputAltTlfUser"
                aria-describedby="textHelp1"
                placeholder="Teléfono Alternativo"
                formControlName="tlf2"
              />
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-6 col-sm-12">
              <label for="selectGenderUser" class="form-label">Género*</label>
              <select
                (change)="changeGender($event)"
                formControlName="idGenderF"
                class="form-select"
                aria-label="Default select example"
                id="selectGenderUser"
              >
                <!-- <option [disabled]="true">Género (Sexo)</option> -->
                <option
                  *ngFor="let gender of gendersR.genders"
                  [value]="gender.idGender"
                >
                  {{ gender.nameGender }}
                </option>
              </select>
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="generoNoValido"
              >
                El género es requerido.
              </p>
            </div>
            <div class="mb-3 col-lg-6 col-sm-12">
              <label for="inputIdentificationUser" class="form-label"
                >Identificación*</label
              >
              <div class="d-flex">
                <select
                  formControlName="letraIdentificacion"
                  class="form-select select-personalizado"
                  aria-label="Default select example"
                >
                  <option value="V">V</option>
                  <option value="E">E</option>
                  <option value="J">J</option>
                  <option value="M">M</option>
                </select>
                <input
                  type="text"
                  class="form-control"
                  id="inputIdentificationUser"
                  aria-describedby="textHelp1"
                  placeholder="Cédula del Usuario"
                  formControlName="identificationU"
                />
                <p
                  class="error-input text-start ps-4 mb-0 mt-2"
                  *ngIf="identificacionNoValido"
                >
                  La identificación es requerida.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="textAreaDireccion" class="form-label"
                >Dirección del Usuario*</label
              >
              <textarea
                class="form-control"
                id="textAreaDireccion"
                rows="3"
                placeholder="Dirección"
                formControlName="directionU"
              ></textarea>
              <p
                class="error-input text-start ps-4 mb-0 mt-2"
                *ngIf="direccionNoValido"
              >
                La dirección es requerida.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <button
            type="button"
            class="btn-principal mx-auto btn-crear"
            (click)="editUser()"
          >
            Editar
          </button>
          <div class="row d-flex align-items-center mt-3">
            <div class="alert alert-info col-sm-12 text-center" role="alert">
              ¡Crea preguntas de seguridad en caso de que se te olvide la
              contraseña!
              <a routerLink="/home/edit-security-questions" class="alert-link"
                >Ir a Editar Preguntas de Seguridad</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
