@import "variables";
// * {
//   box-sizing: border-box;
//   margin: 0;
// }

body {
  font-family: $main-font;
}
/* Utilidades */
.title-1 {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}
.titulo-2{
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin-top: 5px;
}
.input-1 {
  // width: 100%;
  font-family: $main-font;
  margin: 8px 0 10px 0;
  padding: 5px 15px;
  background: #fdf9f9;
  border: 1px solid #d2c0c0;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  font-size: 14px;
  &:focus {
    outline: none;
  }
}
.btn-principal {
  background: $main-color;
  border: 1px solid $main-color;
  box-sizing: border-box;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  color: white;
  padding: 8px 15px;
  transition: all 0.5s;
  margin-top: 10px;
  &:hover {
    color: $main-color;
    background-color: white;
  }
}
.cont-text-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.link-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #918B8B;
  text-align: center;
  transition: all 0.5s;
  &:hover {
    color: $main-color;
  }
  @media (max-width: 1024px) {
    font-size: 15px;
  }
}
.subtitle-1{
  text-align: center;
    width: 60%;
    margin: 20px auto 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    @media (max-width: 1024px) {
      font-size: 12px;
    }
}
.padding-btn{
  padding: 5px 35px;
}
/* Inputs */
input[type=date], select{
  color: #D2C0C0;
}
/* Errores en formularios */
.error-input{
  color: red;
  font-size: 14px;
}
/* Placeholders */
::-webkit-input-placeholder { color: #D2C0C0; } 
:-moz-placeholder { /* Firefox 18- */ color: #D2C0C0; } 
::-moz-placeholder { /* Firefox 19+ */ color: #D2C0C0; } 
:-ms-input-placeholder { color: #D2C0C0; }

.m-izq{
  width: 80vw;
	margin-left: 5%;
	@media (max-width: 1024px) {
		margin-left: 0;
    width: 100vw;
	}
}
.pointer{
  cursor: pointer;
}
/* Solo aplicar a computadoras.*/
.vw-100-cont{
  // @media (min-width: 1090px) {
  //     width: 100vw;   
  // }
    width: 100vw;   
}
.vw-74-cont{
  @media (min-width: 1090px) {
      width: 74vw;   
  }
  @media (max-width: 420px) {
    width: 100vw; 
  }
}


/* COPY FROM UTILIDADES VISTAS ADMIN **/
// Utilidades
.select-vale-dashboard {
  width: auto;
  height: 38px;
  background: #f7f9fa;
  border-radius: 10px;
  border: none;
  padding-left: 13px;
  padding-right: 5px;
  color: #6a7681;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 1269px) {
    width: 90%;
    margin: 0 auto 10px auto;
  }
}
.btn-vale-dashboard1 {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background: $main-color;
  padding: 5px 13px;
  border: 3px solid $main-color;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  transition: border 0.5s ease;
  margin-right: 10px;
  text-align: center;
  &:hover {
    background-color: white;
    color:  $main-color;
    border: 3px solid #ffeee1;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 1269px) {
    width: 90%;
    margin: 0 auto 10px auto;
  }
}
.btn-vale-dashboard2 {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: white;
  background-color: #dc3545; // Rojo
  padding: 5px 13px;
  border: 3px solid #ffeee1;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  transition: border 0.5s ease;
  margin-right: 10px;
  &:hover {
    background-color: white;
    color: $main-color;
    cursor: pointer;
    border: 3px solid #ffeee1;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 1269px) {
    width: 90%;
    margin: 0 auto 10px auto;
  }
}
.title-vale1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  color: #f24c00;
  @media (max-width: 1269px) {
    font-size: 22px;
    text-align: center;
  }
}

.negro {
  color: #333333 !important;
}
.badge-vale-time {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #828282;
  @media (max-width: 425px) {
    display: block;
  }
}
.btn-mostrar-mas {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147%;
  display: flex;
  align-items: center;
  color: #f24c00;
  border: none;
  background-color: white;
  margin: 0 auto 20px auto;
  padding: 0 10px;
  transition: color 0.5s ease;
  &:hover {
    cursor: pointer;
    color: #333333;
  }
  &:focus {
    outline: none;
  }
  img {
    padding-left: 10px;
  }
}
.border-vale {
  border: 3px solid #bdbdbd;
  border-radius: 10px;
}
.btn-eliminar {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #f24c00;
  background: white;
  padding: 5px 13px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: color 0.5s ease;
  margin-right: 10px;
  border: none;
  &:hover {
    color: #333333;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 1269px) {
    width: 100%;
    margin: 0 auto 10px auto;
  }
}
.btn-leido {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  background: white;
  padding: 5px 13px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: color 0.5s ease;
  margin-right: 10px;
  border: none;
  &:hover {
    color: #f24c00;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 1269px) {
    width: 100%;
    margin: 10px auto 0px auto;
  }
}
.mt-vale{
  margin-top: 65px !important;
}
.m-5{
  margin-left: 5px;
}
// Preview Img
.cont-doc {
  background: #f7f9fa;
  border-radius: 10px;
  width: 242px;
  height: 78px;
  display: flex;
  align-items: center;
  @media (max-width: 425px) {
    width: 110%;
    margin-bottom: 10px;
  }
  .cont-img-chat {
    width: auto;
    img {
      border-radius: 10px;
      width: 60px;
      margin: 5px;
    }
    h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .cont-info {
    text-align: left;
    h4 {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
    h5 {
      color: #828282;
      font-size: 8px;
      font-weight: normal;
    }
    .cont-opc {
      display: flex;
      button {
        font-size: 12px;
        padding: 0;
        width: auto;
        margin: 5px;
        background-color: #f7f9fa;
      }
    }
  }
}
// Floating Buttons
.edit {
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit {
  animation: edit-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes edit-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}

@keyframes plus-in {
  from {
    opacity: 1;
    display: block;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(180deg);
    display: block;
  }
}

@keyframes plus-out {
  from {
    opacity: 0;
    display: none;
    transform: rotateZ(180deg);
  }
  to {
    opacity: 1;
    display: none;
    transform: rotateZ(0deg);
  }
}

.nds {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // position: fixed;
  z-index: 300;
  transform: scale(0);
  cursor: pointer;
}

.nd3 {
  background: #ffeee1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  right: 54%;
  bottom: 145px;
  animation-delay: 0.15s;
  animation: bounce-out-nds 0.15s linear;
  animation-fill-mode: forwards;
}

.nd4 {
  background: #ffeee1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  right: 54%;
  bottom: 185px;
  animation-delay: 0.1s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode: forwards;
}



@keyframes bounce-nds {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-out-nds {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

#container-floating:hover .nds {
  animation: bounce-nds 0.1s linear;
  animation-fill-mode: forwards;
}

#container-floating:hover .nd3 {
  animation-delay: 0.08s;
}
#container-floating:hover .nd4 {
  animation-delay: 0.15s;
}
#container-floating:hover .nd5 {
  animation-delay: 0.2s;
}


.reminder {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile {
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}
// Colors:
// @import "./_colores";
.pointer{
  cursor: pointer;
}