// Colores
$main-color: #2A96F0;
$secondary-color: #FDF9F9;
$third-color: #004060; 
$gray-color: #908B8B;
$main-font: 'Poppins', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$second-font: 'Lato', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;