<div id="content">
  <div class="d-flex justify-content-between">
    <span class="slide">
      <a
        id="burger-btn"
        style="z-index: 1"
        class="position-fixed"
        (click)="openSlideMenu()"
      >
        <i class="fas fa-bars"></i>
      </a>
    </span>
    <app-barra-arriba class="me-4 barra-arriba"></app-barra-arriba>
    <div></div>
  </div>
  <div id="menu" class="nav barra-inactive">
    <div class="w-100 img-efecto2 animate__animated animate__slow">
      <a id="close" class="close" (click)="closeSlideMenu()">
        <i class="fas fa-times"></i>
      </a>
      <a
        title="MediFree"
        class="w-100"
        routerLink="/home"
        (click)="closeSlideMenuAnchoImporta(true)"
      >
        <img
          src="assets/img/1er-fase/logo.png"
          alt="MediFree"
          class="
            m-auto
            img-medifree
            animate__animated animate__backOutLeft
            img-efecto
          "
        />
      </a>
      <!-- Start - Estas opciones se muestran si el usuario esta logueado -->
      <div *ngIf="usuarioLogueado">
        <a
          class="
            boton
            img-efecto
            animate__animated animate__backOutLeft
            dropdow-funcion
          "
          ><span
            ><img
              *ngIf="!usuario.img || usuario.img.length === 0; else imagenUsuario;"
              src="assets/img/botones/user.svg"
              alt="User"
              class="me-lg-3 me-sm-5 img-barra"
              #imagenVacia
            />
            <ng-template  #imagenUsuario >
              <img
              *ngIf="usuario.img.length > 0"
              [src]="userService.url + '/upload/users/' + usuario.img"
              alt="User"
              class="me-lg-3 me-sm-5 img-barra"
            />
            </ng-template >
          </span>
          {{ usuario.namesU }}
          <img
            src="assets/img/botones/flecha.svg"
            alt="Flecha"
            class="ms-lg-4 ms-sm-5 img-flecha img-efect-rotacion"
          />
        </a>
        <div
          class="
            dropdown-container
            img-efecto img-efecto3
            animate__animated animate__backOutLeft animate__zoomOut
            d-none
          "
        >
          <a routerLink="/home/edit-user" (click)="closeSlideMenuAnchoImporta()"
            >Editar Usuario</a
          >
          <a
            routerLink="/home/edit-security-questions"
            (click)="closeSlideMenuAnchoImporta()"
            >Preguntas de Seguridad</a
          >
          <a (click)="logoutUser()">Cerrar Sesión</a>
        </div>
        <a
          class="
            boton
            img-efecto
            animate__animated animate__backOutLeft
            dropdow-funcion
          "
          ><span
            ><img
              src="assets/img/botones/btn-plus.svg"
              alt="User"
              class="me-lg-3 me-sm-5 img-barra"
          /></span>
          Medicamentos
          <img
            src="assets/img/botones/flecha.svg"
            alt="Flecha"
            class="ms-sm-5 img-flecha img-efect-rotacion"
          />
        </a>
        <div
          class="
            dropdown-container
            img-efecto img-efecto3
            animate__animated animate__backOutLeft animate__zoomOut
            d-none
          "
        >
          <a
            routerLink="/home/registrar-medicina"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Agregar Medicamento</a
          >
          <a
            routerLink="/home/mis-medicamentos"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Medicamentos registrados</a
          >
        </div>
        <a
          class="
            boton
            img-efecto
            animate__animated animate__backOutLeft
            dropdow-funcion
          "
          ><span
            ><img
              src="assets/img/botones/solicitud-d.svg"
              alt="User"
              class="me-lg-3 me-sm-5 img-barra"
          /></span>
          Solicitudes de Donación
          <img
            src="assets/img/botones/flecha.svg"
            alt="Flecha"
            class="ms-lg-0 ms-sm-5 img-flecha img-efect-rotacion"
          />
        </a>
        <div
          class="
            dropdown-container
            img-efecto img-efecto3
            animate__animated animate__backOutLeft animate__zoomOut
            d-none
          "
        >
          <a
            routerLink="/home/solicitud-donacion"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Mis solicitudes para donar</a
          >
          <a
            routerLink="/home/solicitud-donacion-recibir"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Mis solicitudes para recibir</a
          >
        </div>
        <a
          class="boton img-efecto animate__animated animate__backOutLeft"
          routerLink="/home/donantes-seleccionados"
          routerLinkActive="activeL"
          (click)="closeSlideMenuAnchoImporta()"
          ><img
            src="assets/img/botones/donantes-s.svg"
            alt="Plus"
            class="me-lg-3 me-sm-5 img-barra"
          />
          Donantes Seleccionados
          <div class="div-relleno"></div>
        </a>
      </div>
      <a
        *ngIf="!usuarioLogueado"
        class="
          boton
          img-efecto
          animate__animated animate__backOutLeft
          subtitle-blue
        "
      >
        <p class="m-0">
          ¡Solicita medicamentos de forma totalmente
          <strong class="color-celeste">GRATIS!</strong>
        </p>
      </a>
      <a
        *ngIf="!usuarioLogueado"
        class="
          boton
          img-efecto
          animate__animated animate__backOutLeft
          subtitle-blue
        "
      >
        <p class="m-0">
          ¡No esperes más!
          <span class="color-celeste" routerLink="/login">Inicia sesión</span> o
          <span class="color-celeste" routerLink="/crear-cuenta"
            >crea una cuenta</span
          >
        </p>
      </a>
      <!-- Panel de Administracion - Opciones - Navegacion. -->
      <ng-container *ngIf="usuarioLogueado">
      <a
          *ngIf="usuario.isSuperAdministrator"
          class="
            boton
            img-efecto
            animate__animated animate__backOutLeft
            dropdow-funcion
          "
          ><span
            ><img
              src="assets/img/botones/admin-icon.svg"
              alt="User"
              class="me-lg-3 me-sm-5 img-barra"
          /></span>
          Panel de Administración
          <img
            src="assets/img/botones/flecha.svg"
            alt="Flecha"
            class="ms-lg-0 ms-sm-5 img-flecha img-efect-rotacion"
          />
        </a>
        <div
          *ngIf="usuario.isSuperAdministrator"
          class="
            dropdown-container
            img-efecto img-efecto3
            animate__animated animate__backOutLeft animate__zoomOut
            d-none
          "
        >
          <a
            routerLink="/home/adm"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Administración</a
          >
          <a
            routerLink="/home/adm-usuarios"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Usuarios</a
          >
          <a
            routerLink="/home/adm-medicamentos"
            routerLinkActive="activeL"
            (click)="closeSlideMenuAnchoImporta()"
            >Medicamentos</a
          >
        </div>
      </ng-container>
      <!-- Fin - Estas opciones se muestran si el usuario esta logueado -->
      <a
        class="
          dropdown-btn
          dropdow-funcion
          img-efecto
          animate__animated animate__backOutLeft
          text-center
        "
        >Categorías Medicamentos<img
          src="assets/img/botones/flecha.svg"
          alt="Plus"
          class="ms-lg-4 ms-sm-5 img-flecha img-efect-rotacion"
      /></a>
      <div
        class="
          dropdown-container
          img-efecto img-efecto3
          animate__animated animate__backOutLeft animate__zoomOut
        "
      >
        <ng-container *ngFor="let categoria of categorias">
          <a *ngIf="!categoria.idCategoria" routerLink="/home">{{
            categoria.nameCategoria
          }}</a>
          <a
            *ngIf="categoria.idCategoria"
            routerLink="/home"
            (click)="
              closeSlideMenuAnchoImporta();
              cargarMedicamentosSegunCategoryId(categoria.idCategoria)
            "
            >{{ categoria.nameCategoria }}</a
          >
        </ng-container>
      </div>
    </div>
  </div>
  <div class="contenido-componentes">
    <div class="menu-escondido" [ngClass]="{ 'd-none': esconder }"></div>
    <!-- Start - Tus componentes aqui -->
    <router-outlet></router-outlet>
    <!-- <app-medicamento-muestras class="m-izq" style="width: 100%;"></app-medicamento-muestras> -->
  </div>
</div>
