@import "../../../assets/scss/utilidades";
body {
	font-family: 'Lato', 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
}
.barra-arriba{
	z-index: 1;
	@media (min-width: 420px) and (max-width: 840px) {
		width: 78%;
		height: 150px;
	}
	@media (max-width: 419px) {
		width: 75%;
	}
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #003955;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-top-right-radius: 13px;
	opacity: 1;
	overflow-x: hidden;
	padding-top: 0px;
	transition: 0.7s;
	a {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 10px 25px;
		font-size: 12px;
		height: auto;
		text-decoration: none;
		color: #828282;
		@media (max-width: 1090px) {
			// font-size: 35px;
			font-size: 11px !important;
			// padding: 29px 30px;
		}
		&:hover {
			color: black;
			transition: 0.4s;
		}
		
	}
	.close {
		position: absolute;
		top: 0;
		right: 0;
		margin-left: 50px;
		font-size: 30px;
		@media (max-width: 1090px) {
			font-size: 66px;
		}
	}
}
.slide {
	height: 60px;
	margin-left: 15px;
	width: 45px;
	a {
		color: #000;
		font-size: 30px;
		@media (max-width: 1090px) {
			font-size: 70px;
			padding-left: 20px;
		}
	}
}
a{
	cursor: pointer;
}
#content {
	padding: 20px 0 20px 0;
	transition: margin-left 0.7s;
	overflow: hidden;
	width: 100%;
}
.boton {
	background: #FDF9F9;
	border: 1px solid #D2C0C0;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 47px;
	margin: 15px 10px;
	height: 9%;
	width: 90%;
}
.dropdown-btn {
	padding: 20px 30px;
	text-decoration: none;
	color: black;
	display: block;
	cursor: pointer;
	background: #FDF9F9;
	border: 1px solid #D2C0C0;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 47px;
	margin: 5%;
	display: flex;
	justify-content: space-between;
	&:hover {
		color: rgb(92, 91, 91);
		transition: 0.4s;
	}
}
.dropdown-container {
	max-height: 200px;
	background-color: white;
	padding-left: 0px;
	background: #FDF9F9;
	border: 1px solid #D2C0C0;
	box-sizing: border-box;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 1% 5%;
	overflow-y: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 0px;
          height: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background: #e5e5e5;
          border-radius: 0px;
          @media (max-width: 425px) {
            background: transparent;
          }
        }
		@media (max-width: 1090px) {
			max-height: 500px;
			border-radius: 13px;
		}
}
.active {
	transition: all 0.5s ease-out;
	color: rgb(92, 91, 91);
	.img-efect-rotacion{
		transition: 0.8s;
		transform: rotate(180deg);
	}
}
.fa-caret-down {
	float: left;
	padding-right: 10px;
	font-size: 25px;
}
.fa-user {
	float: left;
	padding-right: 10px;
	font-size: 25px;
}
.fa-plus {
	float: left;
	padding-right: 10px;
	font-size: 25px;
}
.fa-times {
	color: white;
}
.barra-inactive {
	width: 0;
	margin-left: 0;
}
.barra-active {
	width: 24%;
	position: fixed;
	top: 0;
	height: 100%;
	overflow-y: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 10px;
          height: 12px;
        }
        &::-webkit-scrollbar-thumb {
          background: #004060;
          border-radius: 10px;
          @media (max-width: 425px) {
            background: transparent;
          }
        }
}
@media only screen and (max-width: 720px) {
	.nav {
		a {
			font-size: 10px;
			// text-align: center;
		}
		.close {
			font-size: 25px !important;
		}
	}
	.fa-caret-down {
		display: none;
	}
	.fa-user {
		display: none;
	}
	.fa-plus {
		display: none;
	}
	.slide {
		a {
			font-size: 20px;
		}
	}
}
@media only screen and (max-width: 1090px) {
	.barra-active {
		width: 75%;
	}
}
.img-medifree{
	max-width: 145px;
}
.img-barra{
	width: 25px;
	@media (max-width: 1090px) {
		margin-right: 10px;
	}
}
.img-flecha{
	width: auto;
	transition: all 0.5s ease-out;
    @media (max-width: 1090px) {
		width: 14px;
	}
}
.burger-btn{
	width: auto;
}
/* Barra del menu escondida. */
.contenido-componentes{
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}
.menu-escondido{
	transition: 0.7s;
	display: block;
    width: 24%;
    height: 100vh;
	@media (max-width: 1024px) {
		width: 0%;
	}
}
.div-relleno{
	width: 10%;
}
.subtitle-blue{
	color: $third-color !important;
	font-family: $main-font;
    font-weight: 600;
    text-align: center;
    font-size: 17px !important;
	@media (max-width: 420px) {
		font-size: 13px;
	}
}
.color-celeste{
	color: $main-color;
}