<div class="body">
    <div class="container d-flex align-items-center vh-100">
      <div class="tarjeta"
      ngNativeValidate
      [formGroup]="forma"
      >
          <div class="cont-img-logo">
            <img src="assets/img/1er-fase/logo.png" class="img-logo" alt="Logo MediFree">
          </div>
          <div class="cont-login">
              <h3 class="title-1" style="font-size: 24px;">Cambiar Contraseña</h3>
              <div class="cont-formulario">
                <!-- PASSWORD -->
                <input type="password" class="input-1 mt-4 w-100" placeholder="Nueva Contraseña" formControlName="password">
                <span class="error-input" *ngIf="passwordMuyCorto('password')">Mínimo 5 carácteres.</span>
                <span class="error-input" *ngIf="passwordRequerido('password')">Campo requerido.</span>
                <!-- REPEATE PASSWORD -->
                <input type="password" class="input-1 mt-4 w-100" placeholder="Repetir Contraseña" formControlName="password2">
                <p class="error-input" *ngIf="passwordMuyCorto('password2')">Mínimo 5 carácteres.</p>
                <p class="error-input" *ngIf="passwordRequerido('password2')">Campo requerido.</p>
                <span class="error-input" *ngIf="pass2NoValido">Las contraseñas no coinciden.</span>
                <button class="btn-principal mt-4 padding-btn" (click)="changePassword()">Listo</button>
              </div>
              <div class="cont-text-links mt-5">
                <a routerLink="/crear-cuenta" class="link-1">Crear Cuenta</a>
                <a routerLink="/forget-password" class="link-1">Recordé la clave</a>
              </div>
              <p class="subtitle-1 mb-3">
                MediFree. <br/> 
                ¡Encuentra tus medicinas gratis!</p>
          </div>
      </div>
    </div>
</div>
