<div class="body">
    <div class="d-flex align-items-center">
    <div class="container">
    <div class="tarjeta-crear animate__animated animate__fadeIn">
      <div class="cont-img-logo">
        <img src="assets/img/1er-fase/logo.png" class="img-logo" alt="Logo MediFree" />
      </div>
      <form
      autocomplete="off" 
      ngNativeValidate
      [formGroup]="forma"
      (ngSubmit)="onSubmit()">
        <div class="cont-login">
          <h3 class="title-1">Crear Cuenta</h3>
          <div class="cont-formulario">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Nombres*
                  </p>
                  <input
                    formControlName="namesU"
                    type="text"
                    class="m-2 input-1 d-width"
                    placeholder="Nombres"
                  />
                  <p class="error-input text-start ps-4 mb-0" *ngIf="nombreNoValido">
                    El nombre es requerido.
                  </p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Apellidos*
                  </p>
                  <input
                    formControlName="lastNamesU"
                    type="text"
                    class="m-2 input-1 d-width"
                    placeholder="Apellidos"
                  />
                  <p class="error-input text-start ps-4 mb-0"  *ngIf="apellidoNoValido">
                    El apellido es requerido.
                  </p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Fecha de Nacimiento*
                  </p>
                  <input
                    formControlName="dateOfBirth"
                    type="date"
                    class="m-2 input-1 d-width"
                    placeholder="Fecha de Nacimiento"
                  />
                  <p class="error-input text-start ps-4 mb-0"  *ngIf="fechaNoValido">
                    La fecha es requerida.
                  </p>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Correo electrónico*
                  </p>
                  <input
                    formControlName="emailU"
                    type="email"
                    class="m-2 input-1 d-width"
                    placeholder="Correo electrónico"
                  />
                  <p class="error-input text-start ps-4 mb-0" *ngIf="correoNoValido">Correo no válido</p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Contraseña*
                  </p>
                  <input
                  formControlName="password"
                    type="password"
                    class="m-2 input-1 d-width"
                    placeholder="Contraseña"
                  />
                  <p class="error-input text-start ps-4 mb-0" *ngIf="pass1NoValido">Mínimo de 3 carácteres.</p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Repetir Contraseña*
                  </p>
                  <input
                  formControlName="password2"
                    type="password"
                    class="m-2 input-1 d-width"
                    placeholder="Repetir Contraseña"
                  />
                  <p class="error-input text-start ps-4 mb-0" *ngIf="pass2NoValido">No coincide.</p>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    País*
                  </p>
                  <select class="m-2 input-1 d-width" style="width: 90%"
                  formControlName="idPais"(change)="onChangeCountry($event)">
                    <option *ngFor="let pais of paisesR.paises" [value]="pais.idPais">{{pais.nameP}}</option>
                  </select>
                  <p class="error-input text-start ps-4 mb-0"*ngIf="campoNoEsValido('idPais')">El campo es requerido.</p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Estado*
                  </p>
                  <select class="m-2 input-1 d-width" style="width: 90%"
                  formControlName="idEstado"(change)="onChangeState($event)">
                  <ng-container *ngFor="let estado of estadosR.estados" 
                  >
                  <option *ngIf="estado.idEstado === 0" value="" selected disabled>Debe elegir un país 1ero.</option>
                  <option  *ngIf="estado.idEstado > 0"  [value]="estado.idEstado">{{estado.nombreEstado}}</option>
                </ng-container>
                  </select>
                  <p class="error-input text-start ps-4 mb-0" *ngIf="campoNoEsValido('idEstado')">El campo es requerido.</p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Ciudad*
                  </p>
                  <select class="m-2 input-1 d-width" style="width: 90%"
                  formControlName="idCiudadF"(change)="changeCity($event)">
                    <ng-container  *ngFor="let ciudad of ciudadesR.ciudades">
                      <option  *ngIf="ciudad.idCiudad === 0" value="" selected disabled>Debe elegir un Estado 1ero</option>
                      <option  *ngIf="ciudad.idCiudad > 0" [value]="ciudad.idCiudad">{{ciudad.nameCiudad}}</option>
                    </ng-container>
                  </select>
                  <p class="error-input text-start ps-4 mb-0" *ngIf="ciudadNoValido">El campo es requerido.</p>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Télefono*
                  </p>
                  <input
                  formControlName="tlf1"
                    type="tel"
                    class="m-2 input-1 d-width"
                    placeholder="Télefono"
                  />
                  <p class="error-input text-start ps-4 mb-0" *ngIf="tlf1NoValido">No válido. Ejm: +58414123456</p>
                </div>
                <div class="col-lg-12 col-xl-3 p-0">
                    <p class="titulo-2 text-start ps-4 mb-0">
                      Tlf. Alternativo
                    </p>
                    <input
                    formControlName="tlf2"
                      type="number"
                      class="m-2 input-1 d-width"
                      placeholder="Télefono Alternativo"
                    />
                    <!-- <p class="error-input text-start ps-4 mb-0">No puede quedar vacío</p> -->
                  </div>
                <div class="col-lg-12 col-xl-3 p-0">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Género*
                  </p>
                  <select class="m-2 input-1 d-width" style="width: 90%"
                  formControlName="idGenderF" (change)="changeGender($event)">
                    <option value="" selected>Genero</option>
                    <option *ngFor="let sexo of gendersR.genders" [value]="sexo.idGender">{{sexo.nameGender}}</option>
                  </select>
                  <p class="error-input text-start ps-4 mb-0" *ngIf="generoNoValido">El campo es requerido.</p>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="d-flex flex-column cont-extra ps-lg-4 ps-sm-0">
                  <div class="p-0">
                    <p class="titulo-2 text-start ps-4 mb-0">
                      Identificación*
                    </p>
                    <div class="d-flex">
                      <select formControlName="letraIdentificacion" class="form-select select-personalizado" aria-label="Default select example">
                        <option value="V" selected>V</option>
                        <option value="E">E</option>
                        <option value="J">J</option>
                        <option value="M">M</option>
                      </select>
                      <input
                      formControlName="identificationU"
                        type="number"
                        class="m-2 input-1 d-width input-cedula"
                        placeholder="Identificación (Cédula)"
                      />
                    </div>
                    <p class="error-input text-start ps-4 mb-0" *ngIf="identificacionNoValido">No válido. Ejm: V-123456</p>
                  </div>
                </div>
                <div class="cont-text-area-crear d-flex flex-column">
                  <p class="titulo-2 text-start ps-4 mb-0">
                    Dirección*
                  </p>
                  <textarea
                  formControlName="directionU"
                    class="text-area-crear-cuenta m-2 input-1"
                    placeholder="Dirección"
                  ></textarea>
                  <p class="error-input text-start ps-4 mb-0" *ngIf="direccionNoValido">El campo es requerido.</p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn-principal padding-btn" type="submit" >Crear</button>
          <div class="cont-text-links mt-4">
            <a href="#" class="link-1" routerLink="/login">Login</a>
            <a href="#" class="link-1" routerLink="/forget-password">Olvidé la contraseña</a>
          </div>
          <p class="subtitle-1">
            MediFree. <br />
            ¡Encuentra tus medicinas gratis!
          </p>
          <!-- <p class="subtitle-1"> 
           JSON <br />
            {{ forma.controls | json}}
          </p> -->
        </div>
      </form>
    </div>
  </div>
</div>
</div>