<div class="vw-74-cont">
    <app-flecha-regresar></app-flecha-regresar>
    <main>
      <div class="container-s pt-3 animate__animated animate__fadeIn" style="height: auto;">
        <div class="cont-titulo-solicitud-d">
          <h1 class="title-d ms-4 text-center">Usuarios</h1>
        </div>
        <section class="all">
            <div class="options-container">
                <div class="barra-container">
                    <input type="text" class="btn-buscar" (click)="buscarUsuario()">
                    <input type="search" [(ngModel)]="usuarioABuscar" class="barra-buscar" placeholder="Buscar usuario por nombre..." (keyup.enter)="buscarUsuario()"> 
                </div>
                <div class="cont-img-refresh">
                    <img src="assets/img/botones/refresh.svg" alt="Refresh" (click)="llenarDatosUsuarios(); emitEventToChild();">
                </div>
                <select name="" id="" class="select-vale-dashboard"  
                (change)="alCambiarOrden($event)">
                    <option value="" disabled selected>Ordenar por</option>
                    <option value="1">Alfabéticamente</option>
                    <option value="2">Usuario Administrador</option>
                    <option value="3">Usuario No Administrador</option>
                </select>
            </div>
            <app-loading *ngIf="cargandoDatos"></app-loading>
            <p *ngIf="!cargandoDatos && users.users.length === 0" class="m-5">No hay resultados.</p>
            <ng-container *ngIf="!cargandoDatos">
            <div class="chats-all-container">
                <div class="chat-container" *ngFor="let user of users.users">
                    <div class="img-chat-cont">
                        <img *ngIf="!user.img || user.img.length === 0; else imagenUsuario;" src="assets/img/botones/user.svg" alt="Person Vale Chat">
                        <ng-template #imagenUsuario >
                            <img class="control-img" [src]="userService.url + '/upload/users/' + user.img" alt="Person Vale Chat">
                        </ng-template>
                    </div>
                    <div class="cont-text-btn">
                        <div class="container-text">
                            <h4 class="title-vale1 negro">{{user.namesU }} {{ user.lastNamesU }}</h4>
                            <p>{{user.ciudades.nameCiudad }}, {{user.ciudades.estado.nombreEstado }}, {{user.ciudades.estado.paises.nameP }}.</p>
                        </div>
                        <div class="container-btn">
                            <button class="btn-vale-dashboard1" *ngIf="user.isActive" (click)="habilitarODeshabilitarUsuario(user.idUser, false)">Deshabilitar</button>
                            <button class="btn-vale-dashboard1" *ngIf="!user.isActive" (click)="habilitarODeshabilitarUsuario(user.idUser, true)">Habilitar</button>
                            <select name="" id="" class="select-vale-dashboard" 
                            (change)="alCambiarPermisos($event, user.idUser)">
                                <option value="" disabled>Permisos</option>
                                <option value="0" [selected]="!user.isSuperAdministrator">No Administrador</option>
                                <option value="1"  [selected]="user.isSuperAdministrator">Administrador</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>   
            </ng-container>
            <app-pagination [events]="eventOnPaginaReset.asObservable()" [page]="pagina" (changePage)="updatePage($event)"></app-pagination>
        </section>
      </div>
    </main>
  </div>
  
