@import "../../../../assets/scss/variables";
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .all {
    text-align: center;
    margin: 20px;
    .main-title-container {
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 37px;
        color: #f24c00;
        @media (max-width: 1269px) {
          font-size: 22px;
        }
      }
    }
    .options-container {
      display: flex;
      flex-direction: row;
      margin-top: 60px;
      @media (min-width: 1270px) {
        justify-content: space-between;
      }
      @media (max-width: 1269px) {
        flex-direction: column;
      }
      .barra-container {
        position: relative;
        margin-bottom: 0;
        @media (max-width: 1269px) {
          margin-bottom: 10px;
        }
        .btn-buscar {
          position: absolute;
          top: 0;
          left: 3%;
          height: 100%;
          padding: 0;
          display: block;
          text-indent: -9999px;
          width: 20px;
          background-image: url(../../../../assets/img/botones/buscar-vale.svg);
          background-position: right center;
          background-repeat: no-repeat;
          border: none;
          background-color: #f7f9fa;
          border-radius: 10px;
          border-style: none;
          @media (max-width: 1269px) {
            left: 7%;
          }
          @media (max-width: 530px) {
            left: 11%;
          }
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: none;
          }
        }
        .barra-buscar {
          width: 531px;
          height: 38px;
          background: #f7f9fa;
          border-radius: 10px;
          border-style: none;
          padding-left: 52px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          // margin: 0 195px 0 0px;
          margin-right: 20px;
          &:focus {
            outline: none;
          }
          @media (max-width: 1269px) {
            width: 91%;
            margin: 0;
          }
        }
      }
    }
    .chats-all-container {
      text-align: left;
      margin: 40px 20px;
      .chat-container {
        border-bottom: 2px solid #bdbdbd;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        @media (max-width: 425px){
            flex-direction: column;
            align-items: center;
        }
        &:hover {
          cursor: pointer;
        }
        .img-chat-cont {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          @media (max-width: 425px){
              display: flex;
              width: auto;
          }
        }
        .cont-text-btn {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @media (max-width: 1269px) {
            flex-direction: column;
          }
          .container-text {
            margin-left: 10px;
            p {
              font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              color: #333333;
              @media (max-width: 1269px) {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
.control-img{
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
}
.cont-img-refresh{
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px){
    margin: 0 0 10px 0;
  }
  img{
    width: 25px;
    &:hover{
      cursor: pointer;
      width: 26px;
    }
  }
}
  @import "../../../../assets/scss/utilidades";
  