@import "../../../assets/scss/variables";
.cont-big-squares {
  .cont-square {
    margin: 10px;
    display: flex;
    padding: 5px;
    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    .square {
      width: 253.97px;
      height: 195.26px;
      color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      @media (max-width: 900px) {
        max-width: 100%;
      }
      h3 {
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
        @media (max-width: 900px) {
          font-size: 35px;
          line-height: 50px;
        }
      }
      h5 {
        font-weight: 500;
        font-size: 25px;
        line-height: 43px;
      }
    }
  }
}
.rayas-gris {
  border: solid 2.5px #c4c4c4;
  border-radius: 5px;
  margin: 10px;
}
.bg-celeste {
  background-color: #2e9af6;
}
.bg-negrito {
  background-color: #333333;
}
.bg-azul {
  background-color: #003955;
}
.subtitulo-adm {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #333333;
  margin: 0 10px;
  @media (max-width: 900px) {
    font-size: 17px;
  }
}
