<div class="vw-74-cont">
  <app-flecha-regresar></app-flecha-regresar>
  <main>
    <div class="container-s pt-3 animate__animated animate__fadeIn" style="height: auto;">
      <div class="cont-titulo-solicitud-d">
        <h1 class="title-d ms-4 text-center">Administración</h1>
      </div>
      <div class="cont-big-squares">
        <div class="rayas-gris">
            <h2 class="subtitulo-adm">General</h2>
            <app-loading *ngIf="cargandoDatos"></app-loading>
          <div class="cont-square" *ngIf="!cargandoDatos">
            <div class="square bg-celeste">
              <h3>{{ datosAdm.cantUsers }}</h3>
              <h5>Usuarios</h5>
            </div>
            <div class="square bg-negrito">
              <h3>{{ datosAdm.cantMedicines }}</h3>
              <h5>Medicamentos</h5>
            </div>
            <div class="square bg-celeste">
              <h3>{{ datosAdm.cantDonations }}</h3>
              <h5>Donaciones</h5>
            </div>
            <div class="square bg-azul">
              <h3>{{ datosAdm.cantCategories }}</h3>
              <h5>Categorías</h5>
            </div>
          </div>
        </div>
        <div class="rayas-gris" *ngIf="!cargandoDatos">
        <h2 class="subtitulo-adm">Ubicación</h2>
          <div class="cont-square" >
            <div class="square bg-celeste">
              <h3>{{ datosAdm.cantCountries }}</h3>
              <h5 *ngIf="datosAdm.cantCountries === 1">País</h5>
              <h5 *ngIf="datosAdm.cantCountries > 1 || datosAdm.cantCountries === 0">Paises</h5>
            </div>
            <div class="square bg-negrito">
              <h3>{{ datosAdm.cantStates }}</h3>
              <h5>Estados</h5>
            </div>
            <div class="square bg-celeste">
              <h3>{{ datosAdm.cantCities }}</h3>
              <h5>Ciudades</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
