<div class="vw-74-cont">
    <app-flecha-regresar></app-flecha-regresar>
    <main class="mx-auto">
        <div class="container animate__animated animate__fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center pt-3">
                    <!-- Empezar Cargador -->
                    <app-loading *ngIf="imageService.loadingImages"></app-loading>
                    <!-- Fin Cargador -->
                    <ng-image-slider *ngIf="!imageService.loadingImages" [infinite]="true" [images]="imageService.images" [showArrow]="(imageService.images.length > 1) ? true : false" [imageSize]="{width: '100%', height: '300', space: 3}" [manageImageRatio]="true" [lazyLoading]="true" [imagePopup]="false"[autoSlide]="false" #nav></ng-image-slider>
                    <!-- <img class="img-fluid" src="assets/img/2da-fase/medicamento.jpg" /> -->
                </div>
            </div>
            <br>
            <div class="complex">
                <h1>{{ medicine.nameM }}</h1>
                <h2>Ubicación: {{ medicine.creador.ciudades.nameCiudad }}, {{ medicine.creador.ciudades.estado.nombreEstado }}, {{ medicine.creador.ciudades.estado.paises.nameP }}. </h2>
            </div>
            <div>
                <p>{{ medicine.descriptionM }}</p>
            </div>
            <div>
                <h2 class="right">Quedan {{ medicine.inventaryM }} disponibles</h2>
                <h2 class="right">Categoría: {{ medicine.categoria.nameCategoria }}</h2>
                <h2 class="right">Fecha de creación: {{ medicine.createdAt | date: 'dd/MM/yyyy' }} </h2>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-principal" routerLink="/home/motivo-donacion/{{medicine.idMedicine}}" role="button">Solicitar Donación</a>
            </div>
        </div>
    </main>
</div>
