<div class="body">
  <div class="container d-flex align-items-center vh-100">
    <div class="tarjeta animate__animated animate__fadeIn">
        <div class="cont-img-logo"> 
          <img src="assets/img/1er-fase/logo.png" class="img-logo" alt="Logo MediFree">
        </div>
        <div class="cont-login" ngNativeValidate
        [formGroup]="forma">
            <h3 class="title-1">Login</h3>
            <div class="cont-formulario">
              <p class="titulo-2 text-center mb-0">
                Email*
              </p>
              <input type="email" class="input-1 w-100" placeholder="Email" formControlName="emailU">
              <span class="error-input" *ngIf="correoNoValido">Ingrese un correo válido</span>
              <p class="titulo-2 text-center mb-0">
                Contraseña*
              </p>
              <input type="password" class="input-1 w-100" placeholder="Contraseña" formControlName="password">
              <span class="error-input" *ngIf="pass1NoValido">Contraseña inválida</span>
              <button class="btn-principal mt-4" (click)="onLogin()">Iniciar Sesión</button>
            </div>
            <div class="cont-text-links mt-4">
              <a  class="link-1" routerLink="/crear-cuenta">Crear Cuenta</a>
              <a  class="link-1" routerLink="/forget-password">Olvidé la contraseña</a>
            </div>
            <p class="subtitle-1">
              MediFree. <br/> 
              ¡Encuentra tus medicinas gratis!</p>
        </div>
    </div>
  </div>
</div>
