<div class="vw-74-cont">
    <app-flecha-regresar></app-flecha-regresar>
    <main class="mx-auto">
        <div class="container animate__animated animate__fadeIn"
        autocomplete="off" 
        ngNativeValidate
        [formGroup]="forma"
        >
            <div class="row">
                <div class="col-lg-12 text-center pt-3">
                    <!-- Empezar Cargador -->
                    <app-loading *ngIf="imageService.loadingImages"></app-loading>
                    <!-- Fin Cargador -->
                    <ng-image-slider *ngIf="!imageService.loadingImages" [infinite]="true" [images]="imageService.images" [showArrow]="(imageService.images.length > 1) ? true : false" [imageSize]="{width: '100%', height: '300', space: 3}" [manageImageRatio]="true" [lazyLoading]="true" [imagePopup]="false"[autoSlide]="false" #nav></ng-image-slider>
                    <!-- <img class="img-fluid" src="assets/img/2da-fase/medicamento.jpg" /> -->
                </div>
            </div>
            <br>
            <div class="complex">
                <h1>{{ medicine.nameM }}</h1>
                <h2>Ubicación: {{ medicine.creador.ciudades.nameCiudad }}, {{ medicine.creador.ciudades.estado.nombreEstado }}, {{ medicine.creador.ciudades.estado.paises.nameP }}.</h2>
            </div>
            <div class="text-center"
            >
                <h3 class="titulo-motivo">¿Motivo de la solicitud?</h3>
                <textarea name="peticion" rows="14" cols="50" class="text-area-motivo form-control" placeholder="Escribe aquí el motivo de por qué necesitas el medicamento. El dueño podrá leerlo y decidir a quién donárselo." formControlName="msjDonacion" ></textarea>
                <p class="error-input text-start ps-4 mb-0 mt-0" style="border: none;"  *ngIf="campoNoEsValido('msjDonacion')">
                    El campo es requerido.
                  </p>
            </div>
            <div class="text-center">
                <a class="btn btn-primary btn-principal" (click)="crearPeticionDonacion()" role="button">Enviar</a>
            </div>
        </div>
    </main>
</div>


