@import "../../../assets/scss/utilidades";
.text-area-motivo{
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-family: $main-font;
    padding: 10px;
    width: 85%;
    border-radius: 15px;
    margin: 0 auto;
    height: 150px;
    &:focus {
        outline: none;
    }
}
.titulo-motivo{
    font-family: $main-font;
    font-size: 20px;
    @media screen {
        font-size: 16px; 
    }
}