<nav aria-label="Page navigation example" class=" mt-5 animate__animated animate__fadeIn">
    <ul class="pagination justify-content-center">
      <li class="page-item " [ngClass]="{'disabled': pagina === 0}" >
        <button class="page-link" (click)="cambiarPagina(false)"  [disabled]="pagina === 0" tabindex="-1" aria-disabled="true">Anterior</button>
      </li>
      <!-- <p>{{pagina}}</p> -->
      <li class="page-item">
        <button class="page-link" (click)="cambiarPagina(true)">Siguiente</button>
      </li>
    </ul>
  </nav>
