@import "../../../assets/scss/utilidades";
.body {
	background-color: #FFFFFF;
}
.flexsearch--wrapper {
	height: auto;
	width: auto;
	margin-left: 45%;
	max-width: 50%;
	margin-top: -4%;
	overflow: hidden;
	background: transparent;
	position: static;
}
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
.flexsearch--input-wrapper {
	padding: 0 66px 0 0;
	overflow: hidden;
}
.flexsearch--input {
	width: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 30px;
	padding: 0 46px 0 10px;
	border-color: #F7F9FA;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	margin-top: 15px;
	color: #000000;
	background: #F7F9FA;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	&:focus {
		outline: none;
		border-color: #EDEDED;
	}
	&:focus.flexsearch--submit {
		color: #333;
	}
}
.flexsearch {
	padding: 0 25px 0 200px;
}
.flexsearch--submit {
	position: absolute;
	right: 0;
	top: -35%;
	display: block;
	width: 60px;
	height: 60px;
	padding: 0;
	border: none;
	margin-top: 20px;
	margin-right: 5px;
	background: transparent;
	color: #ABABAB;
	font-family: 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 20px;
	&:hover {
		color: #333;
		cursor: pointer;
	}
}
input {
	&:-moz-placeholder {
		color: #888;
	}
}
.h1 {
	float: left;
	margin: 20px 0 20px 0;
	color: #333;
	font-family: 'Helvetica', sans-serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
	text-align: center;
}
/*.bar1 {
	img {
		width: 2.7%;
		height: 1%;
		margin-left: 4%;
	}
	a {
		position: absolute;
		text-align: center;
		color: #4F4F4F;
		margin-left: 2.5%;
		margin-top: 0.4%;
		font-size: 1.3rem;
		font-family: 'Poppins', sans-serif;
	}
}*/
.container-d {
	border: solid 2.5px #C4C4C4;
	border-radius: 12px;
	padding-right: 25px;
	padding-left: 25px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
h1 {
	font-family: $main-font;
	font-weight: bold;
	margin: 20px 0 20px 0;
	@media (max-width: 420px) {
		text-align: center;
	}
}
.text-silenciado{
	font-size: 14px;
    text-align: right;
    margin: 10px 10px 0 5px;
}
.bandeja-info {
	align-content: center;
	margin: 5px;
	background-color: #F7F9FA;
	border: solid 1px #C5C5C5;
	color: #000000;
	font-family: $main-font;
	border-radius: 12px;
	width: 100%;
	padding: 20px;
}
.bandeja-info2 {
	align-content: center;
	padding-bottom: 7%;
	padding-top: 10px;
	margin: 5px;
	background-color: #F7F9FA;
	border: solid 1px #C5C5C5;
	color: #000000;
	font-family: $main-font;
	border-radius: 12px;
	width: 100%;
	@media (max-width: 420px) {
		display: flex;
    	flex-direction: column;
	}
}
h2 {
	font-family: $main-font;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 2%;
	margin-left: 3%;
}
.flex-submit2 {
	margin-left: 97%;
	margin-top: -4.2%;
	position: absolute;
	display: block;
	border: none;
	background: transparent;
	font-size: 1rem;
	color: #ABABAB;
	overflow: hidden;
	position: static;
}
#peticion {
	border-radius: 15px;
	margin-left: 40%;
    /* margin: 100px; */
    background: rgba(255, 255, 255, 0.59);
    width: 50%;
    border-radius: 20px;
    min-height: 200px;
    padding: 20px;
    font-family: $main-font;
	&:focus {
		outline: none;
	  }
	  @media (max-width: 420px) {
		margin: 5%;
		width: 85%;
	  }
}
.cont-img-med{
	margin: 0 auto;
	img.izquierda {
		float: left;
		margin: 0 2% 0 2%;
		max-width: 280px;
		max-height: 280px;
		@media (max-width: 420px) {
			margin: 5%;
			width: 200px;
		}
	}
}
.titlo-n-med {
	font-family: $main-font;
	color: #000000;
	font-weight: 500;
	text-align: left;
	font-size: 16px;
    margin: 10px 0 3% 3%;
	@media (max-width: 420px) {
		text-align: center;
	}
}
.boton1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 27%;
	text-align: center;
	text-decoration: none;
	padding: 15px;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	background-color: #2A96F0;
	border-radius: 30px;
	margin-bottom: 5%;
	@media (max-width: 420px) {
		width: 78%;
	}
}
.boton_1 {
	&:hover {
		opacity: 0.6;
		text-decoration: none;
	}
}
.btn-error{
	background-color: #F93F3F;
	color: white;
	transition: 0.7s;
	width: 61%;
	@media (max-width: 420px) {
		width: 80%;
	}
	&:hover {
		cursor: pointer;
		background-color: white;
		color: $gray-color;
		border: 1px solid #F93F3F;
	  }
}
