<div class="vw-74-cont body">
  <app-flecha-regresar></app-flecha-regresar>
    <main>
        <div class="container-d">
          <h1>Solicitud de Donación</h1>
          <div class="complex">
            <div class="bandeja-info">
              <h2> <strong>Datos del Solicitante: </strong></h2>
              <h2>Nombre: 
                {{ (peticionDonacion.solicitante.namesU) ? peticionDonacion.solicitante.namesU : '' }} 
                {{ (peticionDonacion.solicitante.lastNamesU) ? peticionDonacion.solicitante.lastNamesU : '' }}</h2>
              <h2>Identificación: {{ peticionDonacion.solicitante.identificationU }}</h2>
              <h2>Fecha de Nacimiento: {{ peticionDonacion.solicitante.dateOfBirth | date: 'dd/MM/yyyy' }} </h2>
              <h2>Ciudad: {{ peticionDonacion.solicitante.ciudades.nameCiudad }} </h2> 
              <h2> Dirección: {{ peticionDonacion.solicitante.directionU }}</h2>
              <h2> Email: {{ peticionDonacion.solicitante.emailU }}</h2>
              <h2>Tlf. principal: {{ peticionDonacion.solicitante.tlf1 }}</h2>
              <h2>{{ (peticionDonacion.solicitante.tlf2 && peticionDonacion.solicitante.tlf2 != '') ? 'Tlf. Secundario: ' + peticionDonacion.solicitante.tlf2 : '' }}</h2>
            </div>
            <div class="bandeja-info2">
              <h2 class="me-2"> <strong>Datos del Medicamento: </strong></h2>
              <h3 class="titlo-n-med">{{ peticionDonacion.medicamento.nameM }}</h3>
              <div class="d-flex align-middle justify-content-center m-2">
                <p class="me-3">Estado de la Solicitud</p>
                <div>
                  <span *ngIf="peticionDonacion.isSelected" class="badge bg-primary">SELECCIONADO/A</span>
                  <span *ngIf="!peticionDonacion.isSelected" class="badge bg-dark">EN PROCESO</span> 
                </div>
              </div>
              <div class="cont-img-med">
                <img
                *ngIf="!peticionDonacion.medicamento.pictureM || peticionDonacion.medicamento.pictureM.length === 0; else imagenMedicamento;"
                  [src]="userService.url + '/upload/medicines/' + 'no-image'"
                  alt="Img Medicamento"
                  height="50"
                  class="izquierda img-fluid"
                />
                <ng-template #imagenMedicamento>
                  <img
                  *ngIf="peticionDonacion.medicamento.pictureM.length > 0"
                  [src]="userService.url + '/upload/medicines/' + peticionDonacion.medicamento.pictureM"
                  alt="Img Medicamento"
                  height="50"
                  class="izquierda img-fluid"
                />
                </ng-template>
              </div>
              <div id="peticion">
                <p><strong>Mensaje de {{ peticionDonacion.solicitante.namesU }} </strong></p>
                <p> {{ peticionDonacion.msjDonacion }}</p>
              </div>
              <div>
                <p class="text-muted text-silenciado">En {{ peticionDonacion.medicamento.creador.ciudades.nameCiudad }}, {{ peticionDonacion.medicamento.creador.ciudades.estado.nombreEstado }}
                  , {{ peticionDonacion.medicamento.creador.ciudades.estado.paises.nameP }}.
                </p>
              </div>
            </div>
            <br /><br />
          </div>
          <a (click)="crearDonanteSeleccionado()" class="boton1 btn-principal" style="cursor: pointer;" *ngIf="usuarioLogueadoEsElCreador && !isInDonanteSPage">Elegir para dar la donación</a>
          <!-- 
          Para debuggear:
          <p>Usuario logueado es el creador: {{usuarioLogueadoEsElCreador}}</p>
          <p>isInDonanteSPage: {{isInDonanteSPage}}</p> 
          -->
          <a (click)="borrarDonanteSeleccionadoPreg()" class="boton1 btn-error" style="cursor: pointer;" *ngIf="usuarioLogueadoEsElCreador && isInDonanteSPage">Cambié de opinión. No quiero realizarle la donación a esta persona.</a>
        </div>
      </main>
</div>
