<div class="vw-74-cont">
  <app-flecha-regresar></app-flecha-regresar>
  <main>
    <div class="container-s pt-3 animate__animated animate__fadeIn">
      <div class="cont-titulo-solicitud-d">
        <h1 class="title-d ms-4">{{ titulo }}</h1>
      </div>
      <div class="complex">
        <app-loading
          *ngIf="peticionDonacion.loadingPeticionDonacion"
        ></app-loading>
        <ng-container *ngIf="!peticionDonacion.loadingPeticionDonacion">
          <ng-container *ngIf="peticionDonacion.peticionDonacion.length > 0">
            <div
              class="bandeja"
              (click)="irA(peticionDonacion.idPDonacion)"
              *ngFor="let peticionDonacion of peticionDonacion.peticionDonacion;  let i = index"
            >
              <h2 class="pt-2"> {{ (i + 1) }}.- 
                {{
                  peticionDonacion.solicitante.namesU && !solicitudRecibir
                    ? 'El usuario ' + peticionDonacion.solicitante.namesU
                    : ""
                }}
                {{
                  peticionDonacion.solicitante.lastNamesU && !solicitudRecibir
                    ? peticionDonacion.solicitante.lastNamesU
                    : ""
                }}
                {{ solicitudRecibir ? 'Deseo recibir ' : 'desea que usted le done ' }}
                <!-- desea que le done   -->
                {{
                  peticionDonacion.medicamento.nameM
                    ?  peticionDonacion.medicamento.nameM
                    : ""
                }}
                {{
                  peticionDonacion.createdAt 
                    ? '(' + ( peticionDonacion.createdAt | date: 'dd/MM/yyyy') + ')'
                    : ""
                }}
                <span *ngIf="solicitudRecibir && peticionDonacion.isSelected" class="badge bg-primary">SELECCIONADO/A</span>
                <span *ngIf="solicitudRecibir && !peticionDonacion.isSelected" class="badge bg-dark">EN PROCESO</span> 
              </h2>
              <span class="flex-submit2">&#10140;</span>
            </div>
          </ng-container>
          <div class="alert alert-danger mx-auto w-75 text-center" role="alert" *ngIf="peticionDonacion.peticionDonacion.length === 0">
            {{  !peticionDonacion.huboUnError ?  '¡No hay Solicitudes de Donación!' : '¡Hubo un error!' }} 
          </div>
        </ng-container>
        <!-- <br/>
                <br/> -->
      </div>
    </div>
  </main>
</div>
