@import "../../../assets/scss/utilidades";

.cont-agregar-medicamento {
  border: 3px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 26px;
  margin: 25px auto 25px auto;
  padding: 25px;
  max-width: 65%;
  @media (max-width: 1090px) {
    max-width: 90%;
  }
}
.btn-crear {
  max-width: 20%;
  @media (max-width: 1090px) {
    max-width: 40%;
  }
}
.input-medi {
  background: #f6f6f6;
}

/* Pasar a utilidades */
.title-2 {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  color: #333333;
  @media (max-width: 1090px) {
    font-size: 20px;
  }
}

.c-gray {
  color: #bdbdbd;
}
.border-imgs {
  border: 1px solid #bdbdbd;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  .cont-botones-imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 720px) {
      flex-direction: column;
      align-items: normal;
    }
  }
}
