<div class="vw-74-cont">
  <app-flecha-regresar></app-flecha-regresar>
  <div class="container">
    <div class="cont-agregar-medicamento animate__animated animate__fadeIn">
      <h3 class="title-2 text-center mt-2">{{ titulo }}</h3>
      <!-- <div class="cont-medi-name">
                <span>Nombre</span>
            </div> -->
      <div autocomplete="off" ngNativeValidate [formGroup]="forma">
        <div class="mb-3">
          <label for="exampleInputText" class="form-label">Nombre </label>
          <input
            type="text"
            class="form-control"
            id="exampleInputText"
            aria-describedby="textHelp1"
            placeholder="Nombre del medicamento"
            formControlName="nameM"
          />
          <div
            id=""
            class="form-text error-input"
            *ngIf="campoNoEsValido('nameM')"
          >
            Campo requerido.
          </div>
        </div>
        <!-- <div class="row">
                <div class="mb-3 col-sm-12">
                    <label for="selectCiudad" class="form-label"
                    >Ciudad</label
                    >
                    <select class="form-select" aria-label="Default select example" id="selectCiudad">
                    <option selected>Ciudad</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                </div> 
            </div> -->
        <div class="row">
          <div class="">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Descripción del medicamento</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Descripción del medicamento"
              formControlName="descriptionM"
            ></textarea>
          </div>
          <div
            id=""
            class="form-text error-input"
            *ngIf="campoNoEsValido('descriptionM')"
          >
            Campo requerido.
          </div>
        </div>
        <div class="row mt-2">
          <div class="mb-3 col-lg-6 col-sm-12">
            <label for="inputInventario" class="form-label">Inventario </label>
            <input
              type="number"
              class="form-control"
              id="inputInventario"
              aria-describedby="textHelp1"
              placeholder="Medicamentos disponibles"
              formControlName="inventaryM"
            />
            <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('inventaryM')"
            >
              Campo requerido.
            </div>
          </div>
          <div class="mb-3 col-lg-6 col-sm-12">
            <label for="selectCiudad" class="form-label"
              >Categoría del medicamento</label
            >
            <select
              class="form-select"
              aria-label="Default select example"
              id="selectCiudad"
              formControlName="idCategoriaF"
            >
              <option selected value="">Seleccione</option>
              <option
                *ngFor="let categoria of categorias"
                [value]="categoria.idCategoria"
              >
                {{ categoria.nameCategoria }}
              </option>
            </select>
            <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('idCategoriaF')"
            >
              Campo requerido.
            </div>
          </div>
        </div>
        <div class="border-imgs">
          <div class="row">
            <div class="mb-3">
              <label for="formFile" class="form-label">Agregar Imagen.</label>
              <input
                class="form-control"
                type="file"
                id="formFile"
                accept="image/.jpg,.png,.jpeg,.JPG,.webp"
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
          <div class="row" *ngIf="previsualizarImg.length > 0">
            <div class="mb-3">
              <img
                [src]="previsualizarImg"
                alt="Nueva img medicamento"
                class="my-2 img-fluid"
              /> 
            </div>
          </div>
        </div>
        <ng-container *ngIf="editMode">
          <app-loading *ngIf="imageService.loadingImages"></app-loading>
          <ng-container
            *ngIf="
              imageService.images.length > 0 && !imageService.loadingImages
            "
          >
            <ng-container
              *ngFor="let imagen of imageService.images; let i = index"
            >
              <div class="row" *ngIf="imagen.id">
                <div class="mb-3 border-imgs">
                  <div class="cont-botones-imgs">
                    <label for="formFile" class="form-label"
                      ><strong>Imagen: {{ i + 1 }}.</strong></label
                    >
                    <div class="d-flex">
                      <button
                        class="btn btn-danger"
                        (click)="deleteAnImage(imagen.id)"
                      >
                        Eliminar
                      </button>
                      <div class="form-check ms-2">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="imgRadios"
                          [id]="imagen.id"
                          [checked]="imagen.main"
                          [value]="imagen.id"
                          (change)="onChangeRandioButton($event)"
                        />
                        <label class="form-check-label" [for]="imagen.id">
                          Principal
                        </label>
                      </div>
                    </div>
                  </div>
                  <img
                    [src]="imagen.image"
                    alt="img ejemplo"
                    class="my-2 img-fluid"
                  />
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <div class="row">
          <button
            type="button"
            class="btn-principal mx-auto btn-crear"
            (click)="onSendInfo()"
          >
            {{ tituloBoton }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
