<div class="flecha-regresar-cont mt-2 animate__animated animate__fadeIn">
    <img (click)="back()" class="pointer ms-4"  src="assets/img/botones/flecha-atras.svg" alt="Flecha atras" >
    <p (click)="back()" class="m-0 pointer ms-2">Regresar</p>
</div>
