@import "../../../assets/scss/utilidades";
.flecha-regresar-cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #4F4F4F;
    font-family: $main-font;
    margin-bottom: 20px;
    font-weight: 500;
}