@import "../../../assets/scss/utilidades";
.cont-medicamento {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #eaf8ff;
  border-radius: 10px;
  max-width: 230px;
  min-height: 300px;
  cursor: pointer;
  font-family: $main-font;
  padding-bottom: 10px;
  .titulo-medicamento{
    font-weight: bold;
    font-size: 20px;
    margin-top: 17px;
  }
  .descrip-medicamento{
    font-weight: 500;
    font-size: 14px;
    color: #4F4F4F;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 5px !important;
  }
}
.cont-img{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 180px;
  }
}
