<div class="vw-74-cont">
  <app-loading *ngIf="medicinesService.loadingMedicines"></app-loading>
  <div class="container" *ngIf="!medicinesService.loadingMedicines">
    <div class="row">
      <ng-container *ngIf="medicinesService.medicines.length > 0">
        <ng-container *ngFor="let medicine of medicinesService.medicines" >
          <!-- Mostrar el medicamento solo si esta disponible (medicine.isAvailable) -->
          <div class="col-lg-12 mt-3 col-xl-4 animate__animated animate__fadeIn" *ngIf="medicine.isAvailable || editMode">
            <div class="cont-medicamento text-center m-2 m-auto">
              <div class="cont-img">
                <img routerLink="/home/detalle-medicamento/{{medicine.idMedicine}}" [src]="imageService.url + '/upload/medicines/' + medicine.pictureM" alt="img ejemplo" class="my-4 img-fluid" />
              </div>
              <h3 routerLink="/home/detalle-medicamento/{{medicine.idMedicine}}" class="titulo-medicamento">{{ medicine.nameM }}</h3>
              <p routerLink="/home/detalle-medicamento/{{medicine.idMedicine}}" class="descrip-medicamento">{{ medicine.descriptionM }}</p>
              <div class="d-flex justify-content-center" *ngIf="editMode">
                <button class="btn btn-success me-2"  routerLink="/home/edit-medicine/{{medicine.idMedicine}}">Editar</button>
                <button class="btn btn-danger" (click)="deshabilitarMedicamentoDelUsuario(medicine.idMedicine)">Deshabilitar</button>
              </div>
            </div>
          </div>
        </ng-container>
    </ng-container>
    <div class="alert alert-danger mx-auto w-75 text-center" role="alert" *ngIf="medicinesService.medicines.length === 0">
      {{  !medicinesService.huboUnError ?  '¡No hay medicamentos!' : '¡Hubo un error!' }} 
    </div>
    </div>
  </div>
  <app-pagination [page]="medicinesService.page" (changePage)="updatePage($event)"></app-pagination>
</div>