<div class="body d-flex align-items-center vh-100">
<div class="container">
    <div class="tarjeta animate__animated animate__fadeIn">
        <div class="cont-img-logo">
          <img src="assets/img/1er-fase/logo.png" class="img-logo" alt="Logo MediFree">
        </div>
        <div class="cont-login" 
          ngNativeValidate
          [formGroup]="forma"
        >
            <h3 class="title-1">Olvidé la clave</h3>
            <div class="cont-formulario">
              <p class="titulo-2 text-center mb-0">
                Email de la contraseña a recuperar*
              </p>
              <input type="email" class="input-1 mt-2 w-100" placeholder="Correo Electrónico" formControlName="emailU" (keyup.enter)="irA()">
              <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('emailU')"
            >
              Campo requerido/Correo no válido.
            </div>
              <!-- <span class="error-input">Ingrese un correo valido</span> -->
              <button class="btn-principal mt-4" (click)="irA()"> Continuar</button>
            </div>
            <div class="cont-text-links mt-5">
              <a  routerLink="/crear-cuenta" class="link-1">Crear Cuenta</a>
              <a routerLink="/login" class="link-1">Recordé la clave</a>
            </div>
            <p class="subtitle-1 mb-3">
              MediFree. <br/> 
              ¡Encuentra tus medicinas gratis!</p>
        </div>
    </div>
  </div>
</div>