<div class="vw-74-cont body">
  <app-flecha-regresar></app-flecha-regresar>
  <div class="container">
    <div class="cont-edit-usuario" ngNativeValidate [formGroup]="forma">
      <h3 class="title-2 text-center mt-2">Preguntas de Seguridad</h3>
      <div>
        <div class="row">
          <div class="mb-3 col-sm-12">
            <label for="pre1" class="form-label">Pregunta 1</label>
            <input
              type="text"
              class="form-control"
              id="pre1"
              aria-describedby="textHelp1"
              placeholder="Ingresa tu pregunta. Ejm: ¿Cuál es tu color favorito?"
              formControlName="q1"
            />
            <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('q1')"
            >
              Campo requerido.
            </div>
          </div>
          <div class="mb-3 col-sm-12">
            <label for="resp1" class="form-label">Respuesta 1</label>
            <input
              type="text"
              class="form-control"
              id="resp1"
              aria-describedby="textHelp1"
              placeholder="Ingresa tu respuesta"
              formControlName="r1"
            />
            <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('r1')"
            >
              Campo requerido.
            </div>
          </div>
          <div class="mb-3 col-sm-12">
            <label for="pre2" class="form-label">Pregunta 2</label>
            <input
              type="text"
              class="form-control"
              id="pre2"
              aria-describedby="textHelp1"
              placeholder="Ingresa tu pregunta. Ejm: ¿Cuál es tu película favorita?"
              formControlName="q2"
            />
            <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('q2')"
            >
              Campo requerido.
            </div>
          </div>
          <div class="mb-3 col-sm-12">
            <label for="resp2" class="form-label">Respuesta 2</label>
            <input
              type="text"
              class="form-control"
              id="resp2"
              aria-describedby="textHelp1"
              placeholder="Ingresa tu respuesta"
              formControlName="r2"
            />
            <div
              id=""
              class="form-text error-input"
              *ngIf="campoNoEsValido('r2')"
            >
              Campo requerido.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button
          type="button"
          class="btn-principal mx-auto btn-crear"
          (click)="enviarPregSeg()"
        >
          Listo
        </button>
      </div>
    </div>
  </div>
</div>
