<div class="body  d-flex align-items-center vh-100">
    <div class="container my-2">
      <div class="tarjeta-pregs animate__animated animate__fadeIn">
          <div class="cont-img-logo">
            <img src="assets/img/1er-fase/logo.png" class="img-logo" alt="Logo MediFree">
          </div>
          <app-loading
            *ngIf="loading"
          ></app-loading>
          <div  
          *ngIf="!loading" class="text-center"         
          ngNativeValidate
          [formGroup]="forma">
              <h3 class="title-1" style="font-size: 24px;">Preguntas de Seguridad</h3>
              <div class="cont-formulario row d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-12 col-lg-6 p-0">
                    <p class="titulo-2 text-start ps-4 mb-0">
                      Pregunta 1*
                    </p>
                    <input
                      type="text"
                      class="m-2 input-1 d-width"
                      placeholder="Pregunta 1"
                      formControlName="q1"
                    />
                    <p class="error-input text-start ps-4 mb-0" *ngIf="campoNoEsValido('q1')">
                      Campo requerido.
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6 p-0">
                    <p class="titulo-2 text-start ps-4 mb-0">
                      Respuesta 1*
                    </p>
                    <input
                      type="password"
                      class="m-2 input-1 d-width"
                      placeholder="Respuesta 1"
                      formControlName="r1"
                    />
                    <p class="error-input text-start ps-4 mb-0" *ngIf="campoNoEsValido('r1')">
                      Campo requerido.
                    </p>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-12 col-lg-6 p-0">
                    <p class="titulo-2 text-start ps-4 mb-0">
                      Pregunta 2*
                    </p>
                    <input
                      type="text"
                      class="m-2 input-1 d-width"
                      placeholder="Pregunta 2"
                      formControlName="q2"
                    />
                    <p class="error-input text-start ps-4 mb-0" *ngIf="campoNoEsValido('q2')">
                      Campo requerido.
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6 p-0">
                    <p class="titulo-2 text-start ps-4 mb-0">
                      Respuesta 2*
                    </p>
                    <input
                      type="password"
                      class="m-2 input-1 d-width"
                      placeholder="Respuesta 2"
                      formControlName="r2"
                    />
                    <p class="error-input text-start ps-4 mb-0"  *ngIf="campoNoEsValido('r2')">
                      Campo requerido.
                    </p>
                  </div>
                </div>
              </div>
              <button class="btn-principal mt-4 padding-btn" (click)="sendAnswers()">Continuar</button>
              <div class="cont-text-links mt-5">
                <a routerLink="/crear-cuenta" class="link-1">Crear Cuenta</a>
                <a routerLink="/login" class="link-1">Recordé la clave</a>
              </div>
              <p class="subtitle-1 mb-3">
                MediFree. <br/> 
                ¡Encuentra tus medicinas gratis!</p>
          </div>
      </div>
    </div>
</div>