<div class="vw-74-cont">
  <app-flecha-regresar></app-flecha-regresar>
    <main>
      <div class="container-s pt-3 animate__animated animate__fadeIn">
        <div class="cont-titulo-solicitud-d">
          <h1 class="title-d ms-4">{{ titulo }}</h1>
        </div>
        <div class="complex">
          <app-loading
            *ngIf="donanteSeleccionado.loadingDonanteSeleccionado"
          ></app-loading>
          <ng-container *ngIf="!donanteSeleccionado.loadingDonanteSeleccionado">
            <ng-container *ngIf="donanteSeleccionado.donanteSeleccionados.length > 0">
              <div
                class="bandeja"
                (click)="irA(item.idDonanteSeleccionado, item.peticionDonacion.idPDonacion)"
                *ngFor="let item of donanteSeleccionado.donanteSeleccionados;  let i = index"
              >
                <h2 class="pt-2"> {{ (i + 1) }}.- 
                  {{
                    item.peticionDonacion.solicitante.namesU
                      ? item.peticionDonacion.solicitante.namesU 
                      : ""
                  }}
                  {{
                    item.peticionDonacion.solicitante.lastNamesU
                      ? item.peticionDonacion.solicitante.lastNamesU + ' fue seleccionado/a por usted para '
                      : ""
                  }}
                  recibir   
                  {{
                    item.peticionDonacion.medicamento.nameM
                      ?  item.peticionDonacion.medicamento.nameM + '. '
                      : ""
                  }}
                  {{
                    item.peticionDonacion.createdAt 
                      ? '(' + ( item.peticionDonacion.createdAt | date: 'dd/MM/yyyy') + ')'
                      : ""
                  }}
                </h2>
                <span class="flex-submit2">&#10140;</span>
              </div>
            </ng-container>
            <div class="alert alert-danger mx-auto w-75 text-center" role="alert" *ngIf="donanteSeleccionado.donanteSeleccionados.length === 0">
              {{  !donanteSeleccionado.huboUnError ?  '¡No hay Donantes Seleccionados' : '¡Hubo un error!' }} 
            </div>
          </ng-container>
          <!-- <br/>
                  <br/> -->
        </div>
      </div>
    </main>
  </div>
  