<div class="body">
  <div class="container">
    <div class="d-flex-barra-arriba animate__animated animate__fadeIn">
      <div class="barra-container">
        <img
          src="assets/img/botones/vectorpaint.svg"
          alt="Filtrar"
          class="img-filtrar"
          (click)="toggleEsconder()"
        />
        <input
          type="search"
          class="barra-buscar"
          placeholder="Busca un medicamento..."
          [(ngModel)]="keyword"
          (keyup.enter)="onSearchByKeyword()"
        />
        <input type="text" class="btn-buscar" (click)="onSearchByKeyword()" />
      </div>
      <div class="cont-opciones" [ngClass]="{ 'd-none': esconder }">
        <h3 class="titulo-elegir">Elegir ubicación</h3>
        <div class="cont-selects">
          <p>País</p>
          <select
            [(ngModel)]="countriesService.selectedCountry"
            (ngModelChange)="onChangeCountry($event)"
            name=""
            id=""
            class="select-vale-dashboard mb-2"
          >
            <option value="">Todos</option>
            <ng-container *ngFor="let pais of paisesR.paises">
              <option *ngIf="pais.isVisible" [value]="pais.idPais">
                {{ pais.nameP }}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="cont-selects">
          <p>Estado</p>
          <select
            [(ngModel)]="stateService.selectedState"
            (ngModelChange)="onChangeState($event)"
            name=""
            id=""
            class="select-vale-dashboard mb-2"
          >
            <option
              *ngIf="estadosR.estados.length === 0"
              value=""
              selected
              disabled
            >
              Debe elegir un País 1ero
            </option>
            <ng-container
              *ngFor="let estado of estadosR.estados; let i = index"
            >
              <option value="" *ngIf="i === 0">Todos</option>
              <option
                *ngIf="estado.isVisible && estado.idEstado"
                [value]="estado.idEstado"
              >
                {{ estado.nombreEstado }}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="cont-selects">
          <p>Ciudad</p>
          <select
            class="select-vale-dashboard mb-2"
            [(ngModel)]="cityService.selectedCity"
            (ngModelChange)="onChangeCity($event)"
          >
            <ng-container
              *ngFor="let ciudad of ciudadesR.ciudades; let i = index"
            >
              <option
                *ngIf="ciudadesR.ciudades.length === 0"
                value=""
                selected
                disabled
              >
                Debe elegir un Estado 1ero
              </option>
              <option
                value=""
                *ngIf="ciudad.isVisible && ciudad.idCiudad && i === 0"
              >
                Todas
              </option>
              <option *ngIf="ciudad.idCiudad === 0" value="" selected disabled>
                Debe elegir un Estado 1ero
              </option>
              <option
                *ngIf="ciudad.isVisible && ciudad.idCiudad"
                [value]="ciudad.idCiudad"
              >
                {{ ciudad.nameCiudad }}
              </option>
            </ng-container>
          </select>
        </div>
      </div>
      <!-- <div class="cont-selects">
          <p>País</p>
          <select [(ngModel)]="countriesService.selectedCountry" (ngModelChange)="onChangeCountry($event)" name="" id="" class="select-vale-dashboard mb-2">
            <option value="">Todos</option>
            <ng-container *ngFor="let pais of paisesR.paises">
              <option *ngIf="pais.isVisible"  [value]="pais.idPais">{{pais.nameP}}</option>
            </ng-container>
          </select>
        </div>
        <div class="cont-selects">
          <p>Estado</p>
          <select [(ngModel)]="stateService.selectedState" (ngModelChange)="onChangeState($event)" name="" id="" class="select-vale-dashboard mb-2">
            <option value="">Todos</option>
            <ng-container *ngFor="let estado of estadosR.estados">
              <option *ngIf="estado.isVisible"  [value]="estado.idEstado">{{estado.nombreEstado}}</option>
            </ng-container>
          </select>
        </div>
        <div class="cont-selects">
          <p>Ciudad</p>
          <select class="select-vale-dashboard mb-2">
            <option value="">Todas</option>
          </select>
        </div> -->
    </div>
  </div>
</div>
