@import "../../../assets/scss/variables";
.cont-selects {
  p {
    font-weight: bold;
    margin: 0 0 0 10px;
    font-size: 13px;
  }
}
.d-flex-barra-arriba {
  display: flex;
  @media (max-width: 840px) {
    flex-direction: column;
  }
  // justify-content: space-between;
}
.body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barra-container {
  position: relative;
  margin-bottom: 0;
  // margin-top: 20px;
  @media (max-width: 840px) {
    margin-bottom: 10px;
  }
  .btn-buscar {
    position: absolute;
    top: 8%;
    right: 8%;
    height: 85%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 20px;
    background-image: url(../../../assets/img/botones/buscar-vale.svg);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    background-color: #f7f9fa;
    border-radius: 10px;
    border-style: none;
    @media (max-width: 840px) {
      right: 7%;
      top: 6%;
    }
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
  .barra-buscar {
    width: 531px;
    height: 38px;
    background: #f7f9fa;
    border-radius: 10px;
    border-style: none;
    padding-left: 55px;
    padding-right: 55px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    // margin: 0 195px 0 0px;
    margin-right: 20px;
    &:focus {
      outline: none;
    }
    @media (max-width: 840px) {
      width: 100%;
      margin: 0;
    }
  }
}
.select-vale-dashboard {
  width: 90%;
  height: 38px;
  background: #f7f9fa;
  border-radius: 10px;
  border: none;
  padding-left: 13px;
  padding-right: 5px;
  color: #6a7681;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  /* margin-right: 10px; */
  margin: 0 12px;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: 840px) {
    padding: 10px;
    margin: 0 10px;
  }
}
.img-filtrar {
    width: 25px;
    position: absolute;
    top: 16%;
    left: 3%;
    cursor: pointer;
    @media (max-width: 420px) {
      left: 6%;
    }
  svg {
    path {
      fill: #6a7681;
      width: 25px;
      height: 25px;
    }
  }
}
.cont-selects {
  margin-top: 15px;
  color: #fff;
}
.cont-opciones {
  position: absolute;
  width: 265px;
  top: 75px;
  background: $third-color;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2%;
  clip-path: polygon(
    6% 8%,
    10% 0,
    15% 8%,
    100% 8%,
    100% 100%,
    0 100%,
    0% 70%,
    0 8%
  );
  padding-top: 20px;
}
.titulo-elegir {
  font-size: 17px;
  margin: 20px 0 0 20px;
  font-weight: bold;
  color: #fff;
}
